@import '../abstract/mixins';
@import './office';

.works{
    &__title{
        font-size: 24px;
        text-align: center;
    }

    &__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        @include font-16;
        margin-bottom: 80px;
    }

    &__avtors{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    &__link{
        color: black;
        display: flex;
        justify-content: center;
        &:hover{
            border-bottom: 1px solid #191919;
        }
    }

}